<div class="containar">
  <div class="row">
    <div class="col-6 mx-auto">
      <p class="trouble-message text-center">
        匿名でなんでも相談してみませんか？
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-5 mx-auto shadow-lg rounded px-0 my-5">
      <h5 class="text-center bg-light p-4 mb-0">お悩み相談</h5>
      <div class="form-body p-4">
        <%= form_with model:@trouble, local:true do |f| %>
          <div class="input-group mb-3 mt-4">
          <%= f.text_field :title, class:"form-control", placeholder:"タイトル" %>
          </div>
          <%= f.text_area :body, class:"form-control", rows:"3", placeholder:"内容" %>
          <hr>
          <%= f.submit '投稿', class:"btn btn-lg btn-block btn-info mt-4" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-8 mx-auto trouble-box">
      <% @troubles.each do |trouble| %>
      <div class="card shadow-lg trouble-item" style="width: 20rem;">
        <div class="card-body">
          <h5 class="card-title">
            <%= link_to trouble_path(trouble.id), class:"text-dark" do %>
              <%= truncate(trouble.title, :length => 15) %>
            <% end %>
          </h5>
          <p class="card-text"><%= truncate(trouble.body, :length => 18) %></p>
          <div class="card-footer"><%= link_to "コメント数: #{trouble.answers.count}", trouble_path(trouble.id), class:"text-dark" %></td></div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>