<h1>マタニティダイアリ</h1>
<%= form_with model:@diary, url:'/diarys', local:true do |f| %>
  <h4>画像</h4>
  <%= f.attachment_field :diary_images_images, multiple: true %>
  <h4>題名</h4>
  <%= f.text_field :title %>
  <h4>説明</h4>
  <%= f.text_area :body %>
  <%= f.submit '投稿' %>
<% end %>

<% @diaries.each do |diary| %>
<div>
  <% if diary.diary_images.present? %>
    <% diary.diary_images.first(1).each do |image| %>
    <%= attachment_image_tag image, :image, class: "default_image" %>
    <% end %>
  <% else %>
    画像はありません。
  <% end %>
  <%= link_to diary_path(diary.id) do %>
  <p>ショップ名：<%= diary.title %></p>
  <% end %>
  <p>説明：<%= diary.body %></p>
  <p><%= link_to "コメント数: #{diary.diary_comments.count}", diary_path(diary.id) %></p>
</div>
<% end %>