<div class="post-body">
  <div id="slider">
    <% @diary.diary_images.each do |image| %>
    <%= attachment_image_tag image, :image, :fill, 1200, 800, format: 'jpeg', fallback: "no_image.jpg" %>
    <% end %>
  </div>

  <p>タイトル：<%= @diary.title %></p>
  <p>説明：<%= @diary.body %></p>
  <p>ユーザーネーム：<%= @diary.user.name %></p>
  <p>投稿日時：<%= @diary.created_at.strftime('%Y/%m/%d') %></p>
  <% if @diary.user == current_user %>
    <%= link_to "削除", diary_path(@diary), method: :delete %>
    <%= link_to "編集", edit_diary_path(@diary) %>
  <% end %>
</div>
<div class="comments">
<p class="comments-count">コメント数: <%= @diary.diary_comments.count %></p>
<div class="diary_comments">
  <%= render 'diary_comments/index', diary: @diary %>
</div>
<div id="diary_<%= @diary.id %>">
<p class="like-btn"><%= render "likes/like-btn", diary: @diary %></p>
</div>
xs

</div>
<div class="new-comment">
<%= form_with model:[@diary, @diary_comment] do |f| %>
  <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
  <%= f.submit "送信する" %>
<% end %>
</div>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
