<div class="container">
  <div class="row mt-5">
    <div class="col-12 mx-auto">
      <p class="diary-message text-center">
        妊娠、出産、育児の事や<br/>
        おすすめのおもちゃ、料理なんでも共有しましょう
      </p>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-7 mx-auto shadow px-0">
      <h5 class="text-center bg-light p-4 mb-0">新規投稿</h5>
      <div class="form-body p-4">
        <%= form_with model:@diary, url:'/diaries', local:true do |f| %>
          <%= f.attachment_field :diary_images_images, multiple: true %>
          <!--multiple: trueで複数枚選択可能に-->
          <div class="input-group mb-3 mt-4">
          <%= f.text_field :title, class:"form-control", placeholder:"タイトル" %>
          </div>
          <%= f.text_area :body, class:"form-control", rows:"3", placeholder:"本文" %>
          <hr>
          <%= f.submit '投稿', class:"btn btn-lg btn-block btn-info mt-4" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-11 mx-auto flex_box">
      <% @diaries.each do |diary| %>
      <div class="card shadow-lg flex_item" style="width: 18rem;">
        <% if diary.diary_images.present? %>
        <%= link_to(diary_path(diary.id), data: {"turbolinks" => false}) do %>
          <% diary.diary_images.first(1).each do |image| %>
          <%= attachment_image_tag image, :image, :fill, 1200, 800, class:"card-img-top" %>
          <% end %>
          <% end %>
        <% else %>
          <%= link_to(diary_path(diary.id), data: {"turbolinks" => false}) do %>
          <%= image_tag 'No_image.png', size: '300x190', class:"card-img-top" %>
          <% end %>
        <% end %>
        <div class="card-body">
          <div class="row">
            <div class="col-2">
              <%= link_to user_path(diary.user) do %>
                <%= attachment_image_tag diary.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", class:"mt-2 rounded-circle"; %>
              <% end %>
            </div>
            <div class="offset-2 col-8">
              <div class="card-title">
                <%= link_to(diary_path(diary.id), data: {"turbolinks" => false}, class:"text-dark") do %>
                <%= diary.title %>
                <% end %>
              </div>
              <div class="card-text line-clamp"><%= simple_format diary.body %></div>
              <span><%= diary.user.name %> ｜ </span>
              <span><%= link_to "#{diary.diary_comments.count} コメント", diary_path(diary.id), data: {"turbolinks" => false}, class:"text-dark" %></span>
              <p>♡<%= diary.likes.count %></p>
              <p>Ai内容判断</p>
             <%= render "diaries/score", diary: diary %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
<span id="back">
  <a href="#">
    <%= image_tag 'arrow.png' %>
  </a>
</span>






