<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<div class="container">
  <div class="row my-5">
    <div class="col-7 mx-auto">
      <div id="slider">
      <% if @diary.diary_images.present? %>
        <% @diary.diary_images.each do |image| %>
          <%= attachment_image_tag image, :image, :fill, 1200, 800, format: 'jpeg' %>
        <% end %>
      <% else %>
        <%= image_tag 'No_image.png' %>
      <% end %>
       </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-7 mx-auto">
      <table class="table">
        <tr>
          <th>タイトル</th>
          <th><%= @diary.title %></th>
        </tr>
        <tr>
          <th>説明</th>
          <th><%= simple_format @diary.body %></th>
        </tr>
        <tr>
          <th>ユーザーネーム</th>
          <th><%= link_to user_path(@diary.user), class:"text-dark" do %><%= @diary.user.name %><% end %></th>
        </tr>
        <tr>
          <th>投稿日時</th>
          <th><%= @diary.created_at.strftime('%Y/%m/%d %H:%M') %></th>
        </tr>
        <tr>
          <th>ポジティブ度(AI診断)</th>
          <th><%= render "diaries/score", diary: @diary %></th>
        </tr>
        <tr id="diary_<%= @diary.id %>">
          <th class="comments-count">コメント数: <%= @diary.diary_comments.count %></th>
          <th class="like-btn"><%= render "likes/like-btn", diary: @diary %></th>
        </tr>
        <% if @diary.user == current_user %>
          <tr>
            <th>
              <%= link_to "削除", diary_path(@diary), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_diary_#{@diary.id}"%>
              <%= link_to "編集", edit_diary_path(@diary), class: "btn btn-sm btn-success edit_diary_#{@diary.id}" %>
            </th>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-7 mx-auto">
      <h3>コメント</h3>
      <table class="diary_comments">
        <%= render 'diary_comments/index', diary: @diary %>
      </table>
      <div class="new-comment">
        <%= form_with model:[@diary,@diary_comment] do |f| %>
        <%= f.text_area :comment, rows:'2',placeholder: "コメントをここに" %><br/>
        <%= f.submit "コメントする" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

