<header>
 <div id="navArea">

  <nav>
    <div class="inner">
      <ul>
         <% if user_signed_in? %>
          <li><%= link_to 'トップページ',root_path, data: {"turbolinks" => false} %></li>
          <li><%= link_to 'マイページ',user_path(current_user), data: {"turbolinks" => false} %></li>
          <li><%= link_to 'マタニティダイアリ',diaries_path, data: {"turbolinks" => false} %></li>
          <li><%= link_to 'お悩み相談',troubles_path, data: {"turbolinks" => false} %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, data: {"turbolinks" => false} %></li>
        <% else %>
          <li><%= link_to 'トップページ',root_path, data: {"turbolinks" => false} %></li>
          <li><%= link_to '新規登録', new_user_registration_path, data: {"turbolinks" => false} %></li>
          <li><%= link_to 'ログイン', new_user_session_path, data: {"turbolinks" => false} %></li>
          <li><%= link_to 'マタニティダイアリ',diaries_path, data: {"turbolinks" => false} %></li>
          <li><%= link_to 'お悩み相談',troubles_path, data: {"turbolinks" => false} %></li>
        <% end %>
      </ul>
    </div>
  </nav>

  <div class="toggle_btn">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div id="mask"></div>

</div>

<div class="col-md-2 float-right mt-3">
    <% if user_signed_in? %>
    <%= form_tag(search_path, method: :get) do %>
      <%= text_field_tag (:word) %>
      <%= submit_tag "検索" %>
    <% end %>
    <% end %>
</div>

</header>